html,
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    height: auto;
    font-family: Arial, sans-serif;
    padding: 0;
    overflow: hidden;
}



header {
order: -1;
background: #122194;
text-align: center;
color: white;
width: 100%;
border: #122194 solid 1px;
font-size: 20px;
}

.bluelinecontainer {
width: auto;
height: 5em;
}

.blueline {
background-color: #ffffff;
height: 170%;
width: auto;
align-items: center;
justify-content: center;
border: #ffffff solid 1em;
border-radius: 90%;
}

@media (max-width: 600px) {
header, main, footer {
padding: 0.5rem;
}
}

#time-form{
      position: relative;
}

#time-form button{
      width: 30%;
      background-color: white;
      border: rgb(200, 200, 200) solid 1px;
      border-radius: 10px;
}

#TimeDropdown{
      text-align: left;
      width: 27.5%;
      padding: 1%;
      background-color: white;
      display: none;
      position: absolute; /* Inhalt */
      top: 100%; /* Platzierung unter dem Button */
      left: 20%;
      z-index: 1; /* Höherer Z-Index */
      border: rgb(200, 200, 200) solid 1px;
      border-radius: 10px;
}



